<form class="form" #patientForm="ngForm" (ngSubmit)="onSubmit(form.value)">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required
           [(ngModel)]="model.name" name="name">
  </div>

  <div class="form-group">
    <label for="sex">Sex</label>
    <select class="form-control" id="sex" required
            [(ngModel)]="model.sex" name="sex">
      <option *ngFor="let s of sex" [value]="s">{{s}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" required
           [(ngModel)]="model.age" name="age">
  </div>

  <div class="form-group">
    <label for="symptoms">Symptoms</label>
    <input type="text" class="form-control" id="symptoms" required
           [(ngModel)]="model.symptoms" name="symptoms">
  </div>

  <button type="submit" class="btn btn-success" (click)="newEmergency(); patientForm.reset()"
          [disabled]="!patientForm.valid">
    Submit
  </button>

</form>

For testing only <br/>
Emergency {{currentEmergency}}
