<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">
    <agm-marker
        *ngFor="let r of responders; let i = index"
        [latitude]="r.lat"
        [longitude]="r.lng"
        [label]="r.name">

      <agm-info-window>
        <strong>{{r.name}} #{{r.id}}</strong>
        <ul>
            <li *ngFor="let s of r.skills">{{s}}</li>
        </ul>
        <input type="button" value="Dispatch" (click)="dispatch(r.id)"/>
      </agm-info-window>

    </agm-marker>
</agm-map>
