agm-map {
  height: 575px;
}

input {
    border: none;
    padding: 7px;
    margin-top: 3px;
    background-color: #a94442;
    color: #ffffff;
    border-radius: 4px;
  border: 2px solid #a94442;
}

input:hover {
  background-color: #ffffff;
  color: #a94442;
  border: 2px solid #a94442;
}
