<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">
    <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label">

      <agm-info-window>
        <strong>{{responders[i].name}} #{{responders[i].id}}</strong>
        <ul>
            <li *ngFor="let s of responders[i].skills">{{s}}</li>
        </ul>
        <input type="button" value="Dispatch" (click)="dispatch(responders[i].id)"/>
      </agm-info-window>

    </agm-marker>
</agm-map>
