<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" id='mapElement'>
  <div *ngIf='gotResponders'>
    <agm-marker *ngFor="let r of responders; let i = index" [latitude]="r.lat" [longitude]="r.lng" [label]="" [iconUrl]="getResponderIcon(r)" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">

      <!-- <agm-info-window #infoWindow>
        <strong>{{r.name}} #{{r.id}}</strong>
        <p>Skill level: {{r.skills}}</p>
        <input type="button" value="Dispatch" (click)="dispatch(r.id)" />
      </agm-info-window> -->
    </agm-marker>
  </div>

  <agm-marker [latitude]="emergency.Lat" [longitude]="emergency.Lng" [label]="" [iconUrl]="getEmergencyIcon(emergency)" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">

    <agm-info-window #infoWindow>
      <strong>Name: </strong>{{emergency.Name}}<br/>
      <strong>Sex: </strong>{{emergency.Sex}}<br/>
      <strong>Age: </strong>{{emergency.Age}}<br/>
      <p>{{emergency.Symptoms}}</p>
      <input type="button" value="Dispatch" (click)="emergencyClick(getEmergency())"/>
    </agm-info-window>
  </agm-marker>
</agm-map>
