.map-column {
  float: left;
  width: 75%;
  margin-left: 25px;
}

.form-column {
  float: left;
  width: 20%;
  margin-left: 10px;
}

.header img {
  margin-left: 5px;
  float: left;
  width: 64px;
  height: 64px;
  background: #555;
  vertical-align: middle;
}

.header h1 {
  position: relative;
  top: 12px;
  left: 10px;
  font-size: 14pt;
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  color: black;
  line-height: 16pt;
  position: relative;
  margin-bottom: 30px;
  vertical-align: middle;
}

.header {
    height: 13%;
}
.row {
    height:80%;
}

.thickness {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid red;
  margin-bottom: 2px;
}

html {
  position:relative;
  min-height: 100%;
}

/*Normalize html and body elements,this style is just good to have*/
html, body {
  margin: 0;
  padding: 0;
}
.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
}
.footer{
  padding: 0.8em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7%;
  background:#ccc;
  text-align: center;
}
