<h1 class="title">{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">
    <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label">

      <agm-info-window>
        <strong>InfoWindow content</strong>
        <p>More content here</p>
        <input type="button" ="Click me"/>
      </agm-info-window>

    </agm-marker>
</agm-map>

<form class="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required>
  </div>

  <div class="form-group">
    <label for="sex">Sex</label>
    <select class="form-control" id="sex" required>
      <option *ngFor="let s of sex" [value]="s">{{s}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" required>
  </div>

  <div class="form-group">
    <label for="symptoms">Symptoms</label>
    <input type="text" class="form-control" id="symptoms">
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>
