agm-map {
  height: 450px;
}

/* .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
} */

.map-column {
  float: left;
  width: 75%;
  margin-left: 20px;
}

.form-column {
  float: left;
  width: 20%;
  margin-left: 10px;
}

h1 {
  font-size: 14pt;
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  color: black;
  line-height: 16pt;
}

.thickness {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid red;
  margin-bottom: 2px;
}

html {
  position:relative;
  min-height: 100%;
}

/*Normalize html and body elements,this style is just good to have*/
html, body {
  margin: 0;
  padding: 0;
}
.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
}
.footer{
  padding: 0.8em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7%;
  background:#ccc;
  text-align: center;
}
