<div class="header">
  <img src="../assets/img/logo.jpg">
  <h1>
    <span class="thickness"><span style="font-size: 14pt;">MEDECINS DANS FRONTIERES</span></span><br/>
    DOCTORS WITHIN BORDERS
  </h1>
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="row">
  <div class="map-column">
    <app-map></app-map>
  </div>

  <div class="form-column">
    <app-patient-form></app-patient-form>
  </div>
</div>

<!--<footer>Copyright &copy; Doctors Within Borders</footer>-->
<div class="footer">
  Copyright &copy; Doctors Within Borders
</div>
