agm-map {
  height: 450px;
}

/* .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
} */

.title {
  background-color: red;
}

.map-column {
  float: left;
  width: 75%;
  margin-left: 20px;
}

.form-column {
  float: left;
  width: 20%;
  margin-left: 10px;
}
